<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/global.css" />
    <link rel="stylesheet" href="/public/css/header.css" />
    <link rel="stylesheet" href="/public/css/navigation.css" />
    <link rel="stylesheet" href="/public/css/footer.css" />
    <title>Home_CANTON.ELEC</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img
          src="/public/images/logo.png"
          alt="Logo de CANTON.ELEC (ampoule) - Électricité Générale & Climatisation"
          title="CANTON.ELEC : Spécialiste en électricité générale et climatisation"
          role="img"
          aria-label="Logo de CANTON.ELEC, électricité générale et climatisation"
        />
      </header>

      <div class="container-icons">
        <div class="left-icons">
          <a href="#"><i class="fa-solid fa-phone"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <button class="hamburger-icon" aria-controls="nav-menu">
          <i class="fa-solid fa-bars" aria-label="Toggle navigation menu"> </i>
        </button>

        <nav class="hide">
          <a href="#">home</a>
          <a href="prestations.html">Prestations</a>
          <a href="contrats_entretien.html">Contrats entretiens</a>
          <a href="contact.html">Contacts</a>
        </nav>
      </div>

      <main>
        <section>
          <!-- Contenu principal -->
        </section>
      </main>

      <footer role="contentinfo" aria-label="Informations sur le site">
        <p>&copy; 2024 Canton Elec. Tous droits réservés.</p>
      </footer>
    </div>

    <script src="/javascript/main.js"></script>
  </body>
</html>
