<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/navigation.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Home_CANTON.ELEC</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img
          src="/public/images/logo.png"
          alt="Logo de CANTON.ELEC (ampoule) - Électricité Générale & Climatisation"
          title="CANTON.ELEC : Spécialiste en électricité générale et climatisation"
          role="img"
          aria-label="Logo de CANTON.ELEC, électricité générale et climatisation"
        />
      </header>

      <div class="container-icons">
        <div class="left-icons">
          <a href="#"><i class="fa-solid fa-phone"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <button
          class="hamburger-icon"
          aria-controls="nav-menu"
          aria-expanded="false"
        >
          <i class="fa-solid fa-bars" aria-label="Toggle navigation menu"></i>
        </button>

        <nav class="hide" aria-labelledby="menu-toggle">
          <a href="#home-title">Home</a>
          <a href="prestations.html">Prestations</a>
          <a href="contrats_entretien.html">Contrats entretiens</a>
          <a href="contact.html">Contacts</a>
        </nav>
      </div>

      <main>
        <section>
          <article>
            <h1 class="title" id="home-title">votre électricien à votre service</h1>
            <span class="separation"></span>
            <p class="bold"><strong>Canton Guillaume, Gérant</strong></p>
            <br />
            <p class="bold"><strong>Électricien avec plus de dix ans d'expérience.</strong></p>
            <p>Détenteur de la capacité fluides frigorigènes.</p>
            <p>
              Détenteur de l'attestation d'aptitude à la manipulation des
              fluides frigorigènes
            </p>
            <br />
            <p class="bold-alignCenter">Nos services sont complets</p>
            <br />
            <p class="bold-alignCenter">
              Je suis à votre disposition pour vos travaux d’électricité, neufs
              ou de rénovations, ainsi que la pose de vos climatisations simples
              et reversibles.
            </p>
          </article>
        </section>
        <section>
          <article>
            <h2 class="title">NOS RÉALISATIONS</h2>
            <span class="separation"></span>
            <p class="bold-alignCenter">Découvrez ici quelques réalisations de notre entreprise. Tenez-vous au courant :</p>
<div class="carousel">
  <div class="carousel-images">
    <!--Intégration via JS des images-->
    <button class="carousel-control left" aria-label="Précédent">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="carousel-control right" aria-label="Suivant">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</div>
          </article>
        </section>
      </main>

      <footer role="contentinfo" aria-label="Informations sur le site">
        <p>&copy; 2024 Canton Elec. Tous droits réservés.</p>
      </footer>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
